@font-face {
  font-family: Oswald;
  src: url(../webfonts/Oswald-Light.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../webfonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../webfonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: GreatVibes;
  src: url(../webfonts/GreatVibes-Regular.ttf);
}
:root {
  --bgPrimary: rgb(30, 30, 30);
  --bgSecondary: rgb(255, 255, 255);
  --bgBrand: rgb(200, 50, 50);
  --bgGrey: rgb(100, 100, 100);
  --bgGreyLight: rgb(230, 230, 230);
  --bgInfo: rgb(51, 153, 255);
  --bgSuccess: rgb(0, 204, 102);
  --bgDanger: rgb(255, 51, 51);
  --bgWarning: rgb(204, 122, 0);
  --colorPrimary: rgb(30, 30, 30);
  --colorSecondary: rgb(255, 255, 255);
  --colorBrand: rgb(200, 50, 50);
  --colorGrey: rgb(100, 100, 100);
  --colorGreyLight: rgb(230, 230, 230);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

html {
  font-size: 10px;
}
body {
  color: var(--colorPrimary);
  font-size: 1.6rem;
  min-height: 4000px;
  font-family: "Poppins", "Roboto", " Oswald", "GreatVibes", cursive, Arial,
    Helvetica, sans-serif;
  background: var(--bgLight);
}
.dark {
  --bgLight: rgb(20, 20, 20);
  --bgPrimary: rgb(255, 255, 255);
  --colorPrimary: rgb(255, 255, 255);
  --colorGrey: rgb(255, 255, 255);
  --colorSecondary: rgb(20, 20, 20);
  --colorBrand: rgb(20, 20, 20);
}
p {
  font-family: "Roboto", "Poppins", sans-serif;
}

a,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  font-size: 1.6rem;
}
.displayNone {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  @include _smallScreen {
    width: 540px;
  }
  @include _mediumScreen {
    width: 720px;
  }
  @include _largeScreen {
    width: 960px;
  }

  @include _xLargeScreen {
    width: 1140px;
  }
}
.row {
  width: 100%;
  height: 100%;
}
.bgPrimary {
  background-color: var(--bgPrimary);
}

.bgSecondary {
  background-color: var(--bgSecondary);
}
.bgGreyLight {
  background-color: var(--bgGreyLight);
}

.colorPrimary {
  color: var(--colorPrimary);
}

.colorSecondary {
  color: var(--colorSecondary);
}
.colorGrey {
  color: var(--colorGrey);
}
.colorBrand {
  color: var(--colorBrand);
}
.textBold {
  font-weight: 700;
}
.fontSize {
  font-size: 1.4rem;
}
.fontSize1 {
  font-size: 1.6rem;
}
.fontSize2 {
  font-size: 2rem;
}
.fontSize3 {
  font-size: 3rem;
}
.fontSize4 {
  font-size: 3rem;

  @include _mediumScreen {
    font-size: 4rem;
  }
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.gap1 {
  gap: 0.5rem;
  @include _smallScreen {
    gap: 1rem;
  }
}
.gap2 {
  gap: 1rem;
  @include _smallScreen {
    gap: 2rem;
  }
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.icon {
  font-size: 1.4rem;
}
.ucFirst::first-letter {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.hiddenSmall {
  display: none;
  @include _smallScreen {
    display: inline-block;
  }
}
.boxShadow {
  position: relative;
  background: white;
  &::after {
    content: "";
    height: 5rem;
    width: 100%;
    background-image: url("../images/shadow.svg");
    position: absolute;
    left: 0%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -2.8rem;
    z-index: -1;
  }
}
.boxShadowCard {
  position: relative;
  background: white;
  &::after {
    content: "";
    height: 5px;
    width: 100%;
    background-image: url("../images/shadow.svg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -2px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
}
.btn {
  padding: 0.5rem 1rem;
  background-color: var(--bgPrimary);
  color: var(--colorSecondary);
  border: none;
  outline: none;
  position: relative;
  z-index: 10;
  overflow: hidden;
  * {
    position: relative;
    z-index: 9;
  }
  border-radius: 0.5rem;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bgBrand);
    z-index: 8;
    clip-path: inset(0 0 100% 0);
    transition: all 0.3s linear;
    border-radius: 0.5rem;
  }
  &:hover::after {
    clip-path: inset(0);
  }

  @include _xSmallScreen {
    padding: 0.5rem 2rem;
  }
}

.btnInfo {
  @extend .btn;
  background-color: var(--bgInfo);
}
.btnWarning {
  @extend .btn;
  background-color: var(--bgWarning);
}
.btnDanger {
  @extend .btn;
  background-color: var(--bgDanger);
}
.btnSuccess {
  @extend .btn;
  background-color: var(--bgSuccess);
}
.btnReadMore {
  @extend .btn;
  display: inline-block;
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.padding {
  padding: 1rem;
}
.sectionTitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
  padding-top: 4rem;
  margin-bottom: 8rem;
  font-family: "Oswald";
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/hr.svg);
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 2.5rem;
    bottom: -2.5rem;
  }
}
