.deals {
  position: relative;
  min-height: 60vh;
  z-index: 10;
  .parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background: var(--bgPrimary);
    .img {
      width: 100%;
      object-fit: cover;
      opacity: 0.2;
      position: relative;
      transform: translateY(0px);
    }
  }
  .col {
    flex: 1 1 90%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--bgSecondary);
    box-shadow: 0 0 0px 10px var(--bgGrey);
    .heading {
      font-size: 4rem;
      color: var(--colorPrimary);
      border-bottom: 0.2rem solid var(--colorBrand);
      padding-bottom: 2rem;
    }
    .subHeading {
      color: var(--colorPrimary);
    }
    &:hover {
      background-color: var(--bgGrey);
      box-shadow: 0 0 0px 10px var(--bgSecondary);

      .heading {
        color: var(--colorSecondary);
      }
      .subHeading {
        color: var(--colorSecondary);
      }
    }
    @include _mediumScreen {
      flex: 1 1 45%;
    }
    @include _largeScreen {
      flex: 1 1 20%;
    }
  }
}
